/*Contenido de pruebas*/
*{
    margin: 0;
    padding: 0;
}

html, body{
    max-width: 100% !important;
	scroll-behavior: smooth;
}

.column{
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px 20px 20px;
    line-height: 1.5em;
}

/*Barra Gov superior*/

#container {
    margin: 0 auto;
    max-width: 890px;
}

.toggle, [id^="drop"] {
    display: none;
}

nav.GOV {
    margin: 0;
    padding: 0;
    background-color: #36c;
    display: flex !important;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: initial !important;
}

#GOV-logo {
    padding: 1px 0px 0px 1px;
    flex: 1;
    justify-content: flex-start;
}

#GOV-logo img {
    display: block;
}

nav.GOV:after {
    content: "";
    display: table;
    clear: both;
}

nav.GOV ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    width: 100%;
    background: #36c;
    display: flex;
    z-index: 8;
}

nav.GOV a {
    display: block;
    padding: 9px 7px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    border-right: 1px solid #ffffff45;
    z-index: 13;
}

nav.GOV a:hover {
    background-color: #1a356b;
    text-decoration: none;
    color: white;
}

nav.GOV ul ul {
    display: none;
    position: absolute;
}

nav ul li:hover > ul {
    display: inherit;
}

nav.GOV ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

nav.GOV ul ul ul li {
    padding: 0 0 0 11px;
}

nav.GOV li > a:after {
    content: " +";
}

nav.GOV li > a:only-child:after {
    content: "";
}

.main-nav__mobile-toggle span {
    display: block;
    width: 28px;
    height: 2px;
    margin-bottom: 6px;
    position: relative;
    background: white;
    border-radius: 3px;
    transform-origin: 4px 0px;
    transition: transform .2s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.1s;
}

.main-nav__mobile-toggle {
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 3px;
  z-index: 10;
  outline: none; /* Remove default outline for custom focus styles */
}

.main-nav__mobile-toggle:focus {
  outline: 2px solid #fff; /* Add a focus outline for accessibility */
  outline-offset: 2px;
}

/* Media Queries */
@media all and (max-width: 1000px) {
    #GOV-logo {
        display: block;
    }

    nav.GOV {
        margin: 0;
    }

    nav.GOV a {
        border-right: 0;
        text-align: center;
    }

    .main-nav__mobile-toggle, .main-nav__mobile-checkbox {
        display: block;
    }

    .main-nav__mobile-checkbox {
        position: absolute;
        transform: translateX(-3000px);
    }

    .main-nav__mobile-toggle {
        cursor: pointer;
        box-sizing: border-box;
        border-radius: 3px;
        z-index: 10;
    }

    [id^="drop"]:checked + .main-nav__mobile-toggle span {
        opacity: 1;
        transform: rotate(45deg) translate(1px, 0px);
    }

    [id^="drop"]:checked ~ .main-nav__mobile-toggle span:nth-of-type(2) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    [id^="drop"]:checked ~ .main-nav__mobile-toggle span:nth-of-type(3) {
        transform: rotate(-45deg) translate(0, -2px);
    }

    [id^="drop"]:checked ~ .menu {
        visibility: visible;
        z-index: 9;
        transition: all .5s ease-in;
        opacity: 1;
        display: block;
        position: relative;
        height: auto;
    }

    .main-nav__mobile-checkbox:focus + .main-nav__mobile-toggle span {
        background: #dee5ea;
    }

    nav.GOV .toggle + a, .menu {
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    .toggle {
        display: block;
        padding: 7px;
        color: #fff;
        font-size: 14px;
        text-decoration: none;
        border: none;
        text-align: center;
        margin-bottom: 0;
    }

    .toggle:hover {
        background-color: #2e5ebe;
    }

    [id^="drop"]:checked + ul {
        display: block;
        opacity: 1;
        visibility: 1;
    }

    nav.GOV ul li {
        display: block;
        padding: 5px 0;
        background: #2650a55e;
        z-index: 12;
    }

    nav.GOV ul ul .toggle,
    nav.GOV ul ul a {
        padding: 0 40px;
    }

    nav.GOV ul ul ul a {
        padding: 0 80px;
    }

    nav.GOV a:hover,
    nav.GOV ul ul ul a {
        background-color: #19366f;
    }

    nav.GOV ul li ul li .toggle,
    nav.GOV ul ul a,
    nav.GOV ul ul ul a {
        padding: 6px 0 7px 0;
        font-size: 14px;
    }

    nav.GOV ul ul {
        float: none;
        position: static;
        color: #ffffff;
        background: #1f3c7533;
    }

    nav.GOV ul ul li:hover > ul,
    nav ul li:hover > ul {
        display: none;
    }

    nav.GOV ul ul li {
        display: block;
        width: 100%;
    }

    nav.GOV ul ul ul li {
        position: static;
    }

    .menu {
        visibility: hidden;
        opacity: 0;
        display: block;
        height: 0;
        transition: all .2s ease-out;
    }

    .menu li:nth-of-type(2n) {
        transition-delay: .5s;
    }
}

@media all and (min-width: 1000px) {
    nav.GOV ul {
        width: inherit;
    }
}



/*Menú lateral de redes sociales*/

.social-sidebar-container{
    position: absolute;
    right: 0;
}

.social-sidebar-menu{
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: #004991;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.social-list-container ul{
    list-style-type: none;
    margin:0;
}

.social-list-container a{
    text-decoration: none;
    color: #fff;
}

.social-item:hover{
    background-color: #3472e0;
}

@media (min-width: 1025px){
    .social-sidebar-menu{
        position: fixed;
        top: 50%;
        transform: translate(0%, -50%);
        right: 0;
        margin-right:5px;
        padding-top: 10px;
        padding-bottom: 10px;
        transition: right 0.5s ease-in-out;
    }
    
    .social-item a{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        transition: background-color 0.3s ease-in-out, padding-left 0.3s ease-in-out;
    }
    
    .social-item img{
        width: 30px;
        margin: 5px;
    }
    
    .social-title{
        display: inline-block;
        max-width: 0;
        overflow: hidden;
        white-space: wrap;
        transition: max-width 0.2s ease-in-out, opacity 0.2s ease-in-out;
        opacity: 0;
    }
    
    .social-title p{
        display: flex;
        width: 100%;
        font-size: 14px !important;
    }
    
    .social-sidebar-menu:hover .social-title{
        display: block;
        margin-right: 10px;
        max-width: 60px; 
        opacity: 1;
    }
    .social-item:hover{

    }
}

@media (max-width: 1024px) {
    .social-sidebar-menu {
        position: fixed;
        bottom: 12px;
        left: 43%;
        transform: translate(-50%, 0%);
        margin-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        box-shadow: 0 5px 2px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .social-list-container ul{
        position: relative;
        display: flex;
        list-style-type: none;
        margin:0;
    }

    .social-item a{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        transition: background-color 0.3s ease-in-out, padding 0.3s ease-in-out;
        max-width: 50px;
    }
    
    .social-item img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
		max-width: 45px !important;
        margin-left:5px;
        margin-right: 5px;
    }

    .social-title{
        max-height: 0;
        overflow: hidden;
        
    }
    
    .social-title p{
        display: none;
    }

    .social-item:hover{
        height: fit-content;
    }
}

/*Footer*/

.gov-barra-inferior-afuera {
    width:100%;
    margin: 4rem 0 0 0;
    padding: 0;
    background: #004991;
    display: flex;
    justify-content: center;
}
.gov-barra-inferior {
    width: 1000px;
    max-width: 1000px;
    font-family:'Open Sans', sans-serif;
    font-size: 0.75em;
    margin: 2rem 1rem;
    display:grid;
    background:#f9f7f6;
    border-radius:1rem;
    padding:1rem 2rem;
    height: inherit;
    grid-template-columns: 1fr;
    justify-items: center;
    line-height: 1.5em;
    text-align: center;
    height: auto;
    top: -4rem;
    position: relative;
    border:solid 1px;
    border-color:#00499140;
}
.gov-barra-inferior a{
    color:#00609C;
    text-decoration: auto;
}
.gov-barra-inferior .gov-informacion {
    width:100%;
    margin: 0 0 1rem 0;
}
.gov-barra-inferior .gov-informacion ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    list-style: inside;
}
.gov-barra-inferior h4 {
    width:100%;
    text-align: center;
    font-size: 1.7em;
    display:none;
    margin:1rem auto;
    color: #00609C;
}
.gov-barra-inferior h5 {
    font-size: 1.5em;
    margin:1em 0 1em 0;
    color: #004991;
}
.gov-barra-inferior h6 {
    color: #4C6F85;
    width:100%;
    font-size: 1.2em;
    margin:1.5em auto 1em auto;
}
.gov-barra-inferior .gov-logo {
    width:200px;
}
.gov-barra-inferior .gov-3col {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 10px;
}
.gov-barra-inferior .gov-3col > div{
    width: 100%;
    border-top: 1px solid #3f51b563;
    padding: 1rem 0 1rem 0;
}

.gov-barra-inferior .gov-3col > div > h5{
    margin-top: 0;
    text-align: center;
    line-height: 1.4rem;
}
.gov-barra-inferior .gov-social {
    display:flex;
    width:100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    border-top: 1px solid #3f51b563;
}
.gov-barra-inferior .gov-social span {
    display:
        flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 10px;
}
.gov-barra-inferior .gov-social span img {
    margin: 3px 0px 5px 0;
    background: #004991;
    border-radius: 100px;
    height: 45px;
    padding: 5px;
}
.gov-barra-inferior .gov-social span img:hover {
    background: #2384c1;
    transition: all 0.3s ease-out;
}

.gov-barra-inferior .gov-datos {
    width:100%;
}

.gov-datos div{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.gov-barra-inferior .gov-listado {
    align-items: center;
    text-align: center;
    line-height: 1.5rem;
    list-style: inside;
}
.gov-barra-inferior .gov-listado ul {
    list-style: none;
    margin:0;
}

.gov-sgi a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gov-sgi h5{
    max-width: 200px;
    text-align: center;
}

.gov-barra-inferior .gov-ministerio {
    display:flex;
    align-items:center;
    text-align:center;
    line-height: 2rem;
    list-style: inside;
    flex-direction: column;
}

.gov-barra-inferior {
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

.gov-barra-inferior .gov-logo {
    grid-column: 2 / 2;
    grid-row: 1 / 3;
    width:300px;
    justify-self: end;
}

.gov-barra-inferior .gov-3col {
        grid-column: 1 / 3;
        width: 100%;
        border-top: 1px solid #3f51b563;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        flex-direction: row;
    }

    .gov-barra-inferior .gov-3col > div{
        width: 33%;
        border-top: none;
        padding: 1rem 0 0rem 0;
    }

    .gov-barra-inferior .gov-informacion ul {
        list-style: initial;
    }

    .gov-barra-inferior h4 {
        text-align:left;
        display:block;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .gov-barra-inferior .gov-social {
        grid-column: 1 / 3;
        grid-row: 3 / 3;
        flex-direction: row;
    }

.upn-contact-accordion {
    background-color: #55555e30;
    color: #004991;
    cursor: pointer;
    padding: 8px;
    width: 10%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    grid-column: 1 / 3;
    grid-row: 4 / 4;
    border-radius: 2em;
}
.active, .upn-contact-accordion:hover {
    background-color: #004991;
    color:#fff;
    grid-column: 1 / 3;
    grid-row: 4 / 4;
}
.upn-contact-accordion:active{
    background-color:#00609b;
}

.upn-contact-accordion:focus{
    background-color:#3472e0 !important;
    color: #fff;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}

.gov-inner-data-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr;
    column-gap: 1.5em;
}

.gov-inner-data-container .gov-datos:nth-child(1){
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.gov-inner-data-container .gov-datos:nth-child(2){
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.gov-inner-data-container .gov-datos:nth-child(3){
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.gov-inner-data-container .gov-datos:nth-child(4){
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

.gov-inner-data-container .gov-datos:nth-child(5){
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

.gov-inner-data-container .gov-datos:nth-child(6){
    grid-column: 2 / end;
    grid-row: 1 / 2;
}

.gov-inner-data-container .gov-datos:nth-child(7){
    grid-column: 2 / end;
    grid-row: 2 / 3;
}

.gov-inner-data-container .gov-datos:nth-child(8){
    grid-column: 2 / end;
    grid-row: 3 / 4;
}

.gov-inner-data-container .gov-datos:nth-child(9){
    grid-column: 2 / end;
    grid-row: 4 / 5;
}

@media (min-width: 200px) and (max-width: 1000px) {
    .gov-barra-inferior .gov-logo {
        margin:auto;
    }
    .gov-barra-inferior {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.75em;
        margin: 2rem 1rem;
        display: block;
        background: #f9f7f6;
        border-radius: 1rem;
        padding: 1rem 2rem;
        height: inherit;
        justify-items: center;
        line-height: 1.5em;
        text-align: center;
        height: auto;
        top: -4rem;
        position: relative;
        border: solid 1px;
        border-color: #00499140;
    }
    .gov-barra-inferior .gov-social {
        flex-direction:row;
    }
    .upn-contact-accordion{
        background-color:#55555e30;
        color:#004991;
        width: 200px;
        margin:1.5em;
        border-radius:50px;
    }

    .gov-barra-inferior h4{
        text-align: center;
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    
    .gov-barra-inferior .gov-3col{
        display: flex;
        flex-direction: column;
    }
    .gov-barra-inferior .gov-3col > div{
        width: 100%;
    }

    .gov-inner-data-container .gov-datos:nth-child(1){
        grid-column: 1 / end;
        grid-row: 1 / 2;
    }
    
    .gov-inner-data-container .gov-datos:nth-child(2){
        grid-column: 1 / end;
        grid-row: 2 / 3;
    }
    
    .gov-inner-data-container .gov-datos:nth-child(3){
        grid-column: 1 / end;
        grid-row: 3 / 4;
    }
    
    .gov-inner-data-container .gov-datos:nth-child(4){
        grid-column: 1 / end;
        grid-row: 4 / 5;
    }
    
    .gov-inner-data-container .gov-datos:nth-child(5){
        grid-column: 1 / end;
        grid-row: 5 / 6;
    }
    
    .gov-inner-data-container .gov-datos:nth-child(6){
        grid-column: 1 / end;
        grid-row: 6 / 7;
    }
    
    .gov-inner-data-container .gov-datos:nth-child(7){
        grid-column: 1 / end;
        grid-row: 7 / 8;
    }
    
    .gov-inner-data-container .gov-datos:nth-child(8){
        grid-column: 1 / end;
        grid-row: 8 / 9;
    }
    
    .gov-inner-data-container .gov-datos:nth-child(9){
        grid-column: 1 / end;
        grid-row: 9 / 10;
    }

}

/*Correción alineación ítems barra gov footer*/

.row img{
    vertical-align: middle;
}

/*Barra Gov inferior*/

/* Estilos generales para la fila del encabezado */
.header {
    height: 48px;
    background-color: #3366cc;
    padding-left: 30px;
}

/* Estilos para el contenedor de los enlaces de logo */
.logo-links {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre los elementos, ajustar según sea necesario */
}

.logo-links a img {
    display: block;
}